@import '../../../../styles'

:host
    display: flex

.nav-link
    border-radius: $corner-medium
    padding: 0
    display: flex
    flex-direction: column
    color: $on-surface-variant
    align-items: center
    height: auto
    width: $px10
    margin-bottom: $px2
    text-decoration: none
    gap: 0
    font-variation-settings: 'wght' 600
    .link-label
        font-size: .75rem
        font-variation-settings: 'wght' 400
        transition: font-variation-settings 200ms cubic-bezier(0.2, 0, 0, 1)
    .material-symbols-rounded
        display: flex
        justify-content: center
        align-items: center
        border-radius: $corner-full
        height: $px4
        width: 56px
        align-items: center
        font-variation-settings: 'wght' 400
    &:hover
        --ionicon-stroke-width: 40px
        color: $on-secondary-container
        background-color: transparent
        .link-label
            font-variation-settings: 'wght' 500
            transition: font-variation-settings 200ms cubic-bezier(0.2, 0, 0, 1)
    &:active
        .link-label
            font-variation-settings: 'wght' 300

.link-label
    height: 24px
    display: flex
    align-items: center

.active
    color: $on-secondary-container
    background-color: transparent
    .material-symbols-rounded
        color: $on-secondary-container
        font-variation-settings: 'FILL' 100, 'wght' 400
        background-color: $secondary-container
    &:hover
        color: $on-secondary-container
        .material-symbols-rounded
            background-color: $secondary-container
            font-variation-settings: 'FILL' 100, 'wght' 600
    &:active
        .material-symbols-rounded
            background-color: $secondary-container
            font-variation-settings: 'FILL' 100, 'wght' 300

@media screen and (max-width: $md)
    .nav-link
        border-radius: $corner-full
        height: $px6
        padding: 0 $px2 0
        text-decoration: none
        display: flex
        flex-direction: row
        flex-grow: 1
        width: auto
        gap: $px2
        margin-bottom: 0
        .material-symbols-rounded
            width: auto
            border-radius: 0
            padding-left: 0
            padding-right: 0
        &:hover
            background-color: $surface-variant

            .material-symbols-rounded
                background-color: transparent

    .active
        color: $on-secondary-container
        background-color: $secondary-container
        &:hover
            --ionicon-stroke-width: 40px
            color: $on-secondary-container
            background-color: $secondary-container
        .material-symbols-rounded
            color: $on-secondary-container
            background-color: transparent

    :host
        width: 100%
